@model Gore.Application.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Registre um novo Médico";
}


<hr />
<div class="row">
    @Html.Partial("_StatusMessage", @ViewData["Sucesso"])
    <div class="col-md-4">
        <form asp-action="Create" method="post">

            <div class="form-group">
                <label asp-for="personViewModel.FirstName" class="control-label"></label>
                <input asp-for="personViewModel.FirstName" class="form-control" />
                <span asp-validation-for="personViewModel.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="personViewModel.LastName" class="control-label"></label>
                <input asp-for="personViewModel.LastName" class="form-control" />
                <span asp-validation-for="personViewModel.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="personViewModel.CPF" class="control-label"></label>
                <input asp-for="personViewModel.CPF" class="form-control" />
                <span asp-validation-for="personViewModel.CPF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="personViewModel.Email" class="control-label"></label>
                <input asp-for="personViewModel.Email" class="form-control" />
                <span asp-validation-for="personViewModel.Email" class="text-danger"></span>
            </div>
            @*<p>Date: <input type="text" id="datepicker"></p>*@

            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="personViewModel.DateOfBirth" class="form-control" id="datepicker" />
                <span asp-validation-for="personViewModel.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="personViewModel.DateOfBirth"></label>
                <input asp-for="personViewModel.DateOfBirth" class="form-control" />
                <span asp-validation-for="personViewModel.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="personViewModel.Phone" class="control-label"></label>
                <input asp-for="personViewModel.Phone" class="form-control" />
                <span asp-validation-for="personViewModel.Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="align-content:center;">Endereço</legend>
                    <div class="form-group">
                        <label asp-for="personViewModel.AddressView.State" class="control-label">Estado</label>
                        <input asp-for="personViewModel.AddressView.State" class="form-control" />
                        <span asp-validation-for="personViewModel.AddressView.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="personViewModel.AddressView.City" class="control-label">Cidade</label>
                        <input asp-for="personViewModel.AddressView.City" class="form-control" />
                        <span asp-validation-for="personViewModel.AddressView.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="personViewModel.AddressView.Street" class="control-label">Rua</label>
                        <input asp-for="personViewModel.AddressView.Street" class="form-control" />
                        <span asp-validation-for="personViewModel.AddressView.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="personViewModel.AddressView.Complement" class="control-label">Complemento</label>
                        <input asp-for="personViewModel.AddressView.Complement" class="form-control" />
                        <span asp-validation-for="personViewModel.AddressView.Complement" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="personViewModel.AddressView.Cep" class="control-label"></label>
                        <input asp-for="personViewModel.AddressView.Cep" class="form-control" />
                        <span asp-validation-for="personViewModel.AddressView.Cep" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="personViewModel.AddressView.Number" class="control-label">Número</label>
                        <input asp-for="personViewModel.AddressView.Number" class="form-control" />
                        <span asp-validation-for="personViewModel.AddressView.Number" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" style="align-content:center;">Tipo Sanguíneo</legend>
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="personViewModel.BloodTypeView" class="control-label">Tipo Sanguíneo</label>
                            <select asp-for="personViewModel.BloodTypeView" asp-items="ViewBag.bloodTypes">
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <label asp-for="CRM" class="control-label"></label>
                <input asp-for="CRM" class="form-control" />
                <span asp-validation-for="CRM" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>
    </div>

</div>


<div class="box box-info" id="loadingImage_BodyProposal">
    <div class="box-header">
        <i class="fa fa-comments-o"></i>
        <h3 class="box-title" lang="en">Body proposals</h3>
        <div class="box-tools pull-right">
            <button class="btn bg-teal btn-sm btn-small-miya" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <!--<button class="btn bg-teal btn-sm btn-small-miya" data-widget="remove"><i class="fa fa-times"></i></button>-->
        </div>
    </div>
    <div class="box-body ">
        <form id="addBodyPropForm">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label>Vehicle group</label>
                        <div class="" id="ajax_DdslickVehicleGroupsBodyProposal">
                            <div id="loadingImage_DdslickVehicleGroupsBodyProposal" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslickVehicleGroupsBodyProposal"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Vehicle group products</label>
                        <div class="" id="ajax_DdslickVehicleGroupProducts">
                            <div id="loadingImage_DdslickVehicleGroupProducts" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-copyright"></i>
                                </div>
                                <div id="ddslickDealVehicleGroupProducts"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Body brand</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <input id="text_bodyBrand" type="text" class="form-control validate[required]" placeholder="Body brand">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Body options</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <textarea data-prompt-position="topLeft:70" class="form-control validate[required]" rows="3" name="text_bodyOptions" id="text_bodyOptions" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Body description</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                            <textarea data-prompt-position="topLeft:70" class="form-control validate[required]" rows="3" name="text_bodyDesc" id="text_bodyDesc" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <div class="">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="datepicker form-control validate[required]" data-prompt-position="topLeft:70" id="date_vehicleDelivery" data-date-format="mm/dd/yyyy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="form-group">
                        <label>Accessories</label>
                        <div class="">
                            <div id="loadingImage_TagCabinVehicleAksesuarlar" class="input-group zeyn-load-imager">
                                <div class="input-group-addon">
                                    <i class="fa fa-hand-o-right"></i>
                                </div>
                                <div style="margin-bottom: -10px;width:96%" class="tag-container-aksesuarlar">
                                    <ul id="tagcabin_VehicleAksesuarlar" class="tag-box"></ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_bodyProposal_reset">&nbsp;<i class="fa fa-minus"></i>&nbsp;&nbsp;Reset&nbsp;&nbsp;</button>
                <button type="submit" class="btn btn-primary btn-md pull-right " style="margin-right:10px;margin-top:20px;" id="add_body_proposal">&nbsp;<i class="fa fa-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
            </div>
        </form>
        <div class="row padding-top-20">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div id="gridContainer_vehicle"></div>
            </div>
        </div>


    </div>
    <div class="box-footer clearfix no-border">
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true
            });
        });
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
